body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 2;
}
.brand {
    flex: 1;
    text-align: left;
    margin-right: 50px;
}
.brand h1 {
    font-size: 120px;
    font-weight: bold;
    margin: 0;
    font-style: italic;
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: 0 0 20px #000000;
}
.brand p {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 0.5px #000000;
    text-shadow: 0 0 16px #000000;
}
.login-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    flex: 1;
    color: #ffffff;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #ffffff;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #1f1f1f;
    color: #000;
}
.form-control::placeholder {
    color: #252525;
}
.form-check-label {
    color: #ffffff;
}
.btn-primary {
    background-color: #007bff;
    border: none;
}
.btn-primary:hover {
    background-color: #0056b3;
}
.msjerror{
    font-size: 16px;
    color: rgb(209, 3, 3);
    margin: 10px;
}


.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000ce;
}

.card h5  {
    color: #007bff;
}

.card-header h3 {
    color: #000;
}

.importe {
    text-align: right !important;
}

.id {
    text-align: center !important;
}

.ticket-info {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #000;
} 
.ticket-info span.label {
    font-weight: bold;
}
.ticket-info span.detail {
    font-weight: normal;
}

.card-fullscreen {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.container-fullscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
