<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasas de Cambio</title>
</head>
<body>
    <h1>Tasa de Cambio</h1>
    <p>Fecha: <%= exchange.date %></p>
    <p>Desde: <%= exchange.base %></p>
    <p>Hacia: USD</p>
    <p>Tasa de cambio: <%= exchange.rates.USD %></p>

    <a href="/">Actualizar</a>
</body>
</html>