<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marte</title>
</head>
<body>
    <h1>Marte</h1>
    <p>Position: <%= marte.iss_position.latitude %> <%= marte.iss_position.longitude %></p>
    <p>Velocity: <%= marte.iss_velocity %> km/h</p>
    <p>Altitude: <%= marte.iss_altitude %> km</p>
</body>
</html>